body {
	background: rgb(176, 82, 49);
	background: radial-gradient(circle, rgba(176, 82, 49, 1) 0%, rgba(4, 116, 112, 1) 100%);
	margin: 0;

}

/* background-color: rgb(149, 117, 87); */
.background {
	height: 3000px;
}

/*
.backgroundGreen{
	background:#047470;
	height: 900px;
} */

.colorAntiquewhite {
	color: antiquewhite;
}

/* font */
@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);

.fontKor {
	z-index: 20;
	font-family: 'Jeju Myeongjo', serif;
}

.welcomefont {
	position: absolute;
	z-index: 20;
	text-align: center;
	font-family: 'Jeju Myeongjo', serif;
	left: 300px;
}

.block {
	padding: 50px;
}

.text1 {
	position: absolute;
	z-index: 20;
	text-align: center;
	font-family: 'Jeju Myeongjo', serif;
	top: 500px;
	left: 210px;
	line-height: 30px;
	color: antiquewhite;
}

.text2 {
	position: absolute;
	z-index: 20;
	font-family: 'Jeju Myeongjo', serif;
	top: 900px;
	left: 250px;
	text-align: center;
	line-height: 30px;
	color: antiquewhite;
}

.text3 {
	position: absolute;
	z-index: 20;
	font-family: 'Jeju Myeongjo', serif;
	top: 1250px;
	left: 70px;
	width: 630px;
	text-align: center;
	line-height: 30px;
	color: antiquewhite;
}

.text4 {
	position: absolute;
	z-index: 20;
	font-family: 'Jeju Myeongjo', serif;
	top: 1850px;
	left: 80px;
	width: 630px;
	text-align: center;
	line-height: 30px;
	color: antiquewhite;
}

.text5 {
	position: absolute;
	z-index: 20;
	font-family: 'Jeju Myeongjo', serif;
	top: 2300px;
	left: 230px;
	text-align: center;
	line-height: 30px;
	color: antiquewhite;
}

.text6 {
	position: absolute;
	z-index: 20;
	font-family: 'Jeju Myeongjo', serif;
	top: 2870px;
	left: 290px;
	text-align: center;
	line-height: 30px;
	color: antiquewhite;
}

.text7 {
	position: absolute;
	z-index: 20;
	font-family: 'Jeju Myeongjo', serif;
	top: 3600px;
	left: 170px;
	text-align: center;
	line-height: 30px;
	color: antiquewhite;
}

.team42Title {
	position: absolute;
	z-index: 20;
	font-family: 'Jeju Myeongjo', serif;
	top: 4000px;
	left: 300px;
	text-align: center;
	line-height: 30px;
	font-size: 30px;
	color: antiquewhite;
}

.text8 {
	position: absolute;
	z-index: 20;
	font-family: 'Jeju Myeongjo', serif;
	top: 4130px;
	left: 190px;
	text-align: center;
	line-height: 30px;
	color: antiquewhite;
}

.text9 {
	position: absolute;
	z-index: 20;
	font-family: 'Jeju Myeongjo', serif;
	top: 4450px;
	left: 170px;
	text-align: center;
	line-height: 30px;
	color: antiquewhite;
}

.text10 {
	position: absolute;
	z-index: 20;
	font-family: 'Jeju Myeongjo', serif;
	top: 5300px;
	left: 230px;
	text-align: center;
	line-height: 30px;
	color: antiquewhite;
}

.teamInfoFooter {
	position: absolute;
	z-index: 20;
	font-family: 'Jeju Myeongjo', serif;
	top: 5480px;
	left: 245px;
	text-align: center;
	line-height: 30px;
	color: rgb(172, 170, 168);
}

.imageGG {
	position: absolute;
	z-index: 20;
	top: 2400px;
	left: 80px;
	width: 300px;
	text-align: center;
}

.imageLib {
	position: absolute;
	z-index: 20;
	top: 2400px;
	left: 400px;
	width: 300px;
	text-align: center;
}

.imageHome {
	position: absolute;
	z-index: 20;
	top: 3000px;
	left: 70px;
	width: 630px;
	text-align: center;
}

.imageSearching {
	position: absolute;
	z-index: 20;
	top: 4750px;
	left: 70px;
	width: 630px;
	text-align: center;
}

/* title */
.titleText {
	padding: 10px;
	text-align: center;
	font-size: 60px;
	z-index: 10;
	line-height: 80px;
	color: antiquewhite;
	/* top: 30px;
	left: 80px; */
}

.subTitleText {
	text-align: center;
	font-size: 40px;
	z-index: 10;
	line-height: 80px;
	color: antiquewhite;
	/* top: 30px;
	left: 80px; */
}

.serifFont {
	font-family: serif;
}

.cursiveFont {
	font-family: cursive;
}

.authorText {
	position: absolute;
	padding: 80px;
	text-align: center;
	font-size: 16px;
	top: 100px;

}


/* cartoon image */
.cut1 {
	position: absolute;

	z-index: 1;
	width: 700px;
	object-fit: contain;
	top: 350px;
	right: 20px;
}

.cut2 {
	position: absolute;

	z-index: 1;
	position: center;
	width: 330px;
	object-fit: contain;
	top: 670px;
	left: 230px;
}

.cut3 {
	position: absolute;

	z-index: 1;
	width: 700px;
	object-fit: contain;
	top: 1000px;
	right: 20px;
}

.cut4 {
	position: absolute;

	z-index: 1;
	width: 700px;
	object-fit: contain;
	top: 1400px;
	right: 20px;
}


.box {
	height: 2500px;
}

.grid {
	background-size: 10px, 30px, 10px 10px, 30px 30px;
	background-image: linear-gradient(90deg, #00000004 1px, transparent 1px), linear-gradient(90deg, #00000004 1px, transparent 1px), linear-gradient(#00000004 1px, transparent 1px), linear-gradient(#00000004 1px, transparent 1px);
}

.wrapper {
	position: relative;
}

.visibleHidden {
	visibility: hidden;
}

.visibleVisible {
	visibility: visible;
}


/* main images */
.mainImg1 {
	position: absolute;
	z-index: 1;
	width: 130px;
	object-fit: contain;
	top: 260px;
	right: 310px;
}