.brownBox {
	position: absolute;
	top: 900px;
	left: -50px;
	width: 800px;
	height: 800px;
	z-index: 10;
	margin: 30px;
	border-style: solid;
	border-width: 5px black;
	background-color: rgb(45, 34, 19);
	padding: 30px;
}

.pinkTransparent {
	position: absolute;
	top: 600px;
	left: -50px;
	width: 800px;
	height: 1100px;
	z-index: 20;
	margin: 30px;
	background: rgb(255, 161, 179);
	background: linear-gradient(180deg, rgba(255, 161, 179, 0) 0%, rgba(255, 136, 137, 1) 38%, rgba(255, 119, 59, 1) 100%);
}

.teamInfoFooter {
	position: absolute;
	bottom: -900px;
	left: 250px;
	color: rgb(181, 179, 179);
	text-align: center;
	z-index: 50;
}

.blackHoleSubText {
	position: absolute;
	top: 140px;
	right: 70px;
	font-size: 12px;
	color: rgb(231, 228, 228);
	text-align: center;
	z-index: 50;
}

.blackHoleText {
	position: absolute;
	top: 150px;
	right: 70px;
	color: rgb(231, 228, 228);
	text-align: center;
	z-index: 50;
}

.blackHoleImg {
	position: absolute;
	top: 100px;
	left: 585px;
	height: 60px;
	z-index: 10;
}

.imageSearching {
	position: absolute;
	z-index: 20;
	top: 1000px;
	left: 120px;
	width: 530px;
	text-align: center;
}

@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);

.text {
	position: absolute;
	z-index: 20;
	text-align: center;
	font-family: 'Jeju Myeongjo', serif;
	top: 1400px;
	left: 310px;
	line-height: 30px;
	color: antiquewhite;
}